<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/newTaskForm.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js%22%3E</script> -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/newTask.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


</head>

<body>
  <%- include('partials/_header') %>
  <div class="main-container">
    <div>
      <section class="new-task-form">
        <div>
          <i class="far fa-hand-point-right"></i>
          <button class="btn btn-primary" id="new-task-button" type="submit">New Task</button>
        </div>
        <div>
          <form id='newTaskForm' method="POST" action="/api/tasks/new">
            <div class="new-task-title">
              <label for="title">Title</label>
              <input id="title" type="text" name="title" placeholder="Enter title">
            </div>
            <div class="new-task-description">
              <label for="description">Description</label>
              <input id="description" type="text" name="password" placeholder="Description">
            </div>
            <div class="new-task-set-reminder">
              <label for="set-reminder">Set reminder</label>
              <select id="set-reminder" name="set-reminder">
                <option value="01">No</option>
                <option value="02">Yes</option>
              </select>
            </div>
            <div class="new-task-reminder-date">
              <h6>Reminder-date</h6>
              <div class="new-task-reminder-date-day">
                <label for="reminder-date-day">Day</label>
                <select id="reminder-date-day" name="reminder-date-day">
                  <option value="">Day</option>
                  <option value="01">1</option>
                  <option value="02">2</option>
                  <option value="03">3</option>
                  <option value="04">4</option>
                  <option value="05">5</option>
                  <option value="06">6</option>
                  <option value="07">7</option>
                  <option value="08">8</option>
                  <option value="09">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="new-task-reminder-date-month">
                <label for="reminder-date-month">Month</label>
                <select id="reminder-date-month" name="reminder-date-month">
                  <option value="">Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>

              <div class="new-task-reminder-date-year">
                <label for="reminder-date-month">Year</label>
                <select id="reminder-date-year" name="reminder-date-year">
                  <option value="">Year</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
              </div>
            </div>
            <div class="new-task-form-submit-button">
              <button class="btn btn-warning" type="submit">Create</button>
            </div>
          </form>
        </div>
        <!-- New Task Box -->
        <!-- <div class="new-task">
          <h2>Add New Task</h2>
          <form id='newTaskForm' method="" action="">
            <textarea name="text" id="task-text" required></textarea>
            <button id='newTaskFormSubmit' type="submit">Submit</button>
          </form>
        </div> -->
        <!-- End Task Box -->
      </section>
    </div>
    <div class='taskLists'>
      <div class='taskLists-groupA'>
        <section class='foodList' id='1'>
          <h4>Food</h4>
          <ul class='sub-container-food'>
            <% for (let task of tasksFood) { %>
              <li class='toDoListItem' id=`<%= task.id %>`>
                <div class='toDoRightSide'>
                  <button class='listButton'>
                    <i class='fas fa-check-circle'></i>
                    <i class='fas fa-minus-circle'></i>
                  </button>
                </div>
                <%= task.title %>
                <button class='listButton'>
                  <i class='fas fa-filter'></i>
                </button>
              </li>
            <% } %>
          </ul>
        </section>
        <section class='moviesList' id='2'>
          <h4>Movies</h4>
          <ul class="sub-container-movies">
            <% for (let task of tasksMovies) { %>
              <li class='toDoListItem' id=`<%= task.id %>`>
                <div class='toDoRightSide'>
                  <button class='listButton'>
                    <i class='fas fa-check-circle'></i>
                    <i class='fas fa-minus-circle'></i>
                  </button>
                </div>
                <%= task.title %>
                <button class='listButton'>
                  <i class='fas fa-filter'></i>
                </button>
              </li>
            <% } %>
          </ul>
        </section>
        <section class='booksList' id='3'>
          <h4>Books</h4>
          <ul class="sub-container-books">
            <% for (let task of tasksBooks) { %>
              <li class='toDoListItem' id=`<%= task.id %>`>
                <div class='toDoRightSide'>
                  <button class='listButton'>
                    <i class='fas fa-check-circle'></i>
                    <i class='fas fa-minus-circle'></i>
                  </button>
                </div>
                <%= task.title %>
                <button class='listButton'>
                  <i class='fas fa-filter'></i>
                </button>
              </li>
            <% } %>
          </ul>
        </section>
        <section class='productsList'>
          <h4>Products</h4>
          <ul class="sub-container-products" id='4'>
            <% for (let task of tasksProducts) { %>
              <li class='toDoListItem' id=`<%= task.id %>`>
                <div class='toDoRightSide'>
                  <button class='listButton'>
                    <i class='fas fa-check-circle'></i>
                    <i class='fas fa-minus-circle'></i>
                  </button>
                </div>
                <%= task.title %>
                <button class='listButton'>
                  <i class='fas fa-filter'></i>
                </button>
              </li>
            <% } %>
          </ul>
        </section>
      </div>
      <div class="taskLists-group">
        <section class='uncategorizedList' id='5'>
          <h4>Uncategorized</h4>
          <ul class="sub-container-uncategorized">
            <% for (let task of tasksUncategorized) { %>
              <li class='toDoListItem' id=`<%= task.id %>`>
                <div class='toDoRightSide'>
                  <button class='listButton'>
                    <i class='fas fa-check-circle'></i>
                    <i class='fas fa-minus-circle'></i>
                  </button>
                </div>
                <%= task.title %>
                <button class='listButton'>
                  <i class='fas fa-filter'></i>
                </button>
              </li>
            <% } %>
          </ul>
        </section>
      </div>
    </div>
  </div>

  <!-- End Task Area -->
  <i class="fa-solid fa-list-radio"></i>



</body>

</html>
